<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src={% static "jquery/jquery-3.3.1.min.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.js" %}></script>
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home/">Training Portal</a>
            </div>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    {% if user.is_superuser %}
                        <li class="active"><a href="/trainings/">Trainings</a></li>
                        <li><a href="/trainees/">Trainees</a></li>
                    {% else %}
                        <li><a href="#">Enroll in training</a></li>
                        <li><a href="#">View Trainings</a></li>
                    {% endif %}
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="#"><b>Welcome, {{ user.username }}</b></a></li>
                    <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>

                {% else %}
                    <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="/register/"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div style="margin-top: 50px;">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>