<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_label "HELLO" %}
{% bootstrap_alert "Something went wrong" alert_type='danger' %}

<form action="" method="post">{% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}

    {#        {% buttons %}#}
    {#            <button type="submit" class="btn btn-primary">#}
    {#              {% bootstrap_icon "star" %} Submit#}
    {#            </button>#}
    {#         {% endbuttons %}#}
</form>

{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}
</body>

</html>