<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
    <title>{% block title %}Login | Training Portal</title>{% endblock %}
</head>
<body>
{#    {% load bootstrap3 %}#}
{#    {% bootstrap_css %}#}
    <h1 class="container text-center" style="width: 500px; margin-top: 50px;">Login Form</h1>
    <div class="container" style="width: 500px; margin-top: 40px;">
        <form action="/login/" class="form-horizontal" id="loginForm" style="padding: 20px 40px 20px 40px; background-color: #ebebeb"
              method="post">
            <p id="validate_text" style="color: red"></p>

            {% if login_failed %}
                <div class="row" style="background-color: lightcoral">
                    <span>Login Failed.</span>
                </div>
            {% endif %}

            {% csrf_token %}
            {% for field in login_form %}
                <div class="form-group">
                    {{ field.errors }}
                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="text-center">
                <button type="submit" formNoValidate id="submitBtn" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
    </div>
    <script src={% static "jquery/jquery-3.3.1.min.js" %}></script>
    <script src={% static "/js/trainingportal/loginformvalidation.js" %}></script>
</body>
</html>