{% extends "trainingportal/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% bootstrap_css %}
{% block content %}
    <h1 class="container text-center" style="width: 500px; margin-top: 60px;">Signup Form</h1>
    <div class="container" style="width: 500px; margin-top: 40px;">
        <form action="" class="well form-horizontal" id="signupForm" style="padding-left: 40px; padding-right: 40px;"
              method="post">
            <p id="validate_text" style="color: red"></p>
            {% csrf_token %}
            {% bootstrap_form user_form %}
            {% bootstrap_form_errors user_form %}
            {% bootstrap_form profile_form %}
            {% buttons %}
                <button type="submit" formNoValidate id="submitBtn" class="btn btn-primary center-block">
                    {% bootstrap_icon "star" %} Submit
                </button>
            {% endbuttons %}
        </form>
    </div>
    <script src={% static "js/trainingportal/signupformvalidation.js" %}></script>
{% endblock %}
